# 5.1.1 Lister

Dette har vi gjort til nå:

In [2]:
x_1 = 1
x_2 = 5
x_3 = 7
x_4 = 9
x_5 = 81

Tungvint når vi skal lagre mange verdier

Python har en innebygd listetype som heter "list". Vi bruker [] for å definere en liste. 

```
    listenavn = [verdi 0, verdi 1, verdi 2, ...]
```

Liste med tallverdier

In [3]:
x_verdier = [1, 5, 7, 9, 81]


Plassen til verdiene i en liste kaller vi index. Den første verdien i en liste er alltid på index 0.

Vi henter ut en verdi fra en liste på denne måten


```
    listenavn[index]
```

**Første verdi fra listen:**

In [4]:
x_verdier[0]

1

**Siste verdien i liste:**

In [5]:
x_verdier[len(x_verdier)-1]

81

**Og snarveien:**

In [6]:
x_verdier[-1]

81

**Underveisoppgave**

Hvordan henter vi en verdien 9 fra lista?

In [7]:
# svar her

Hente intervaller fra listen: (fra og med indeks 2 til 4, men ikke med indeks 4)

In [8]:
x_verdier[2:4]

[7, 9]

## Liste-metoder

Her de vanligste metodene til lister

- list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
- list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
- list.extend(list2) adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
- list.index(elem) -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
- list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
- list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
- list.reverse() -- reverses the list in place (does not return it)
- list.pop(index) -- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

**Legge til verdier på slutten av listen til en eksisterende liste**

In [9]:
x_verdier.append(101)
x_verdier

[1, 5, 7, 9, 81, 101]

**Fjerne elementet 9 fra lista:**

In [10]:
x_verdier.pop(3)
x_verdier

[1, 5, 7, 81, 101]

**Reversere lista:**

In [11]:
x_verdier.reverse()
x_verdier

[101, 81, 7, 5, 1]

**Traversere liste med range og len**

In [12]:
for i in range(len(x_verdier)):
    print(x_verdier[i])

101
81
7
5
1

**Traversere liste på en litt ryddigere måte**

In [13]:
for x_verdi in x_verdier:
    print(x_verdi)

101
81
7
5
1

**Hva skjer når vi multipliserer, deler og legger sammen python-lister?**

In [14]:
x_verdier

[101, 81, 7, 5, 1]

In [15]:
y_verdier = [60, 1, 2]
y_verdier

[60, 1, 2]

In [16]:
x_verdier + y_verdier

[101, 81, 7, 5, 1, 60, 1, 2]

In [ ]:
x_verdier - y_verdier #Det er ikke lov

In [ ]:
x_verdier*y_verdier #Det er ikke lov

In [ ]:
x_verdier/y_verdier #Det er ikke lov

**Liste med tekst:**

In [15]:
byer = ['Molde', 'Oslo', 'Bergen']
byer[0]

'Molde'

## Fylle en liste med tall 

**Alternativ 1**

In [16]:
#liste med tallene 1-10
min_liste = []
for x in range(1,11):
    min_liste.append(x)
    
min_liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Alternativ 2**

In [17]:
min_liste2 = [x for x in range(1,11)]
min_liste2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Partall 1**

In [18]:
min_liste2 = [x for x in range(2,11,2)]
min_liste2

[2, 4, 6, 8, 10]

**Partall 2**

In [19]:
min_liste2 = [2*x for x in range(1,6)]
min_liste2

[2, 4, 6, 8, 10]

**Lister fra et datasett:**

Her importerer vi en pakke som heter Pandas for å importere tekstfilen

In [22]:
import pandas as pd
url ='https://uio-profag.github.io/pages/02_dag1/plotting_les_fra_fil/solflekker.txt'
solflekker = pd.read_csv(url, sep='\t', header=None)
solflekker.columns = ['mnd', 'antall']

Her skriver vi uter de gangene antall solflekker er flere enn 210 på en måned

In [24]:
for antall in solflekker.antall:
    if antall > 210:
        print(antall)

238.9
235.8
253.8
210.9
239.4
217.4

### Underveisoppgaver

1. Skriv ut alle månedene hvor antall solflekker var 200 eller flere.

2. Skriv ut summen av alle solflekker.

3. Skriv ut gjennoomsnitlig antall solflekker per måned.

4. Hvilken måned var det flest solflekker.

In [27]:
# solflekker.mnd er listen med måneder 
# Det du jobber med nå er teknisk sett ikke en liste, men en Pandas dataframe.

5. Hvilken måned var det færrest solflekker