# Terminprøve H2020
**Python**

## Oppgave 17

**a)**

In [1]:
for n in range(10):     # For-løkke som itererer gjennom koden med 
                        # innrykk under. n starter på 0 og slutter på 9
    tall = 2*n + 1      # Tilordner verdien fra 2*n +1 (odetall) til   
                        # variabelen tall.
    print(tall)         # Skriver ut verdien til variabelen tall.

1
3
5
7
9
11
13
15
17
19

**b)**

Vi ser at summen av fåregående oddetall blir kvadrattall

In [3]:
sum = 0
for n in range(10):
    tall = 2*n + 1
    sum = sum + tall
    print(sum)

1
4
9
16
25
36
49
64
81
100

## Oppgave 19
**c**

In [1]:
def pris(km):
    return 2.71*km + 102.14

print(f'Det koster {pris(17):.2f} kr for 17 km.')

Det koster 148.21 kr for 17 km.

**d**

In [8]:
def pris(km):
    return 2.71*km + 102.14

print(f"km   pris (kr)")
print("--------------")
for km in range(2, 31, 2):
    print(f"{km:2}    {pris(km):.2f}")

km   pris (kr)
--------------
 2    107.56
 4    112.98
 6    118.40
 8    123.82
10    129.24
12    134.66
14    140.08
16    145.50
18    150.92
20    156.34
22    161.76
24    167.18
26    172.60
28    178.02
30    183.44